.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Frontend files ###
/node_modules/

### Other files ###
properties.env
jira.cert
/data/

### Sonar Kotlin ###
/sonarqube_extensions/
!/sonarqube_extensions/plugins/sonar-kotlin-plugin-0.4.1.jar